<div class="caption right">
    List of detected interfaces
</div>
<div id="app"></div>

@section header {
    <link href="~/app.css" rel="stylesheet" asp-append-version="true">
}

@section scripts {
    <script src="~/app.js" asp-append-version="true"></script>
}

